<div class="container my-4">
  <div class="jumbotron p-4">
    <h1 class="display-4">
      Alpha Blog
    </h1>
    <p class="lead">This is a simple unit of alpha blog!, This is a simple unit of alpha blog!</p>
    <hr>
    <p class="lead">This is a simple unit of alpha blog!</p>
    <%# <a class="btn btn-success btn-lg" href="/users/sign_in", role="button">Sign In</a> %>
    <button class="login-btn btn btn-success btn-lg">
      <% if user_signed_in? %>
        <%= button_to "Sign Out",  destroy_user_session_path,  method: :delete, class:"nav-link active" %>
      <% else%>
        <%= link_to "Sign In", new_user_session_path, class:"nav-link active"%>
      <%end%>
    </button>
  </div>
</div>
