:root{
    --white : white;
    --gray : gray;
    --red : red;
    --lightgray : lightgray;
    --lightgreen : lightgreen;
}

body{
    margin: auto !important;
}

.navbar{
    background-color: black !important;
}

.nav-link{
    color: var(--white) !important;
}

#logo{
    float: left;
    color: var(--white);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron{
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray);
    color: var(--white);
    /* background-image: url('bgpic1.webp'); */ 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('bgpic.avif');
    /* background-image: asset-url("bgpic.avif"); */
}

.sticky-footer{
    position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px;
}

.page-content{
    background-color: var(--lightgray);
    margin-top: -17px !important;
    margin-bottom: -25px !important;
}

#title{
    color: var(--lightgreen);
}

#author{
    color: var(--gray);
}

.article-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

